<template>
    <header class="header">
        <h1>To Do List</h1>
        <div id="nav">
            <router-link to="/">Home</router-link> |
            <router-link to="/about">About</router-link>
        </div>
    </header>
</template>

<script>
export default {
    name: "Header"
}
</script>

<style scoped>
    .header {
        background-color: #333;
        padding: 10px;
        text-align: center;
    }
    .header a, .header h1 {
        color: #fff;
    }
</style>
