<template>
    <div class="container mt-5 mb-3">
        <form @submit="todoSub">
            <div class="left">
                <input class="form-control" type="text" v-model="title" name="title" placeholder="Add item to list ...">
            </div>
            <div class="text-right pt-2">
                <input type="submit" value="Submit" class="btn btn-outline-success">
            </div>
        </form>
    </div>
</template>

<script>
//import uuid from 'uuid';
export default {
    name: "AddTodo",
    data() {
        return {
            title: ''
        }
    },
    methods: {
        todoSub(e) {
            e.preventDefault();
            const newTodo = {
                //id: uuid.v4(),
                title: this.title,
                completed: false
            }  
            this.$emit('new-todo', newTodo);
            this.title = '';
        }
    }
}
</script>

