<template>
    <div class="item_bg clearfix" v-bind:class="{'is-completed':tolist.completed}">
        <p class="mb-0">
            <input type="checkbox" v-on:change="markComplete">
            {{tolist.title}}
            <button @click="$emit('del-tolist', tolist.id)" class="btn btn-danger btn-sm float-right">Delete</button>
        </p>
    </div>
</template>

<script>
export default {
    name:"TodoItem",
    props: ["tolist"],
    methods: {
        markComplete () {
            this.tolist.completed = !this.tolist.completed;
        }
    }
}
</script>

<style scoped>
.is-completed {
    text-decoration: line-through;
}
</style>
