<template>
    <div class="container border rounded shadow mb-5 p-3">
        <div class="border mb-1 pb-1 border-right-0 border-left-0 border-top-0" v-bind:key="tolist.id" v-for ="tolist in todos">
            <TodoItem v-bind:tolist="tolist" v-on:del-tolist="$emit('del-tolist', tolist.id)" />
        </div>
    </div>
</template>

<script>
import TodoItem from './TodoItem.vue';

export default {
    name: "Todos",
    components: {
        TodoItem
    },
    props: ["todos"]
}
</script>

<style scoped>

</style>
